*{
    font-family: sans-serif;
    box-sizing: border-box ;
}
body{
    background: linear-gradient(rgb(8, 209, 209) , rgb(116, 1, 116) ) no-repeat;
    height: 100%;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.781);
}