*{
    font-family: sans-serif;
}
body{
    background: linear-gradient(rgb(8, 209, 209) , rgb(116, 1, 116) ) no-repeat;
    height: 97.5vh;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.781);
}

.Bar{
    background: transparent;
    border: 2px solid rgba(253, 2, 2, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    height: 70px;
    margin: 0;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    color: #fff;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team img{
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;

}

.container{
    width: 100%;
    height: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    background: transparent;
    margin: 30px 0 0 0;
    box-shadow: 0 0 20px black;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav .logo{
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
    margin: 0 6px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover{
    color: rgb(0, 255, 85);
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content .text{
    color:#fff;
    width: 40%;
}

.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

/*.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}*/
.content .image img{
    width: 400px;
}

.text a img{
    width: 45px;
    height: 45px;
}
.goat{
    padding:10px 0 0 0 ;
}

a::selection{
    background: rgb(253, 2, 85);
}

h2::selection{
    background: rgb(253, 2, 85);
}

img::selection{
    background: rgb(253, 2, 85);
}
h3::selection{
    background: rgb(253, 2, 85);
}

.links{
    width: 100px;
    height: 50px;
    color: white;
    
}

@media (min-width:600px){
    
}