*{
    font-family: sans-serif;
    box-sizing: border-box ;
}
body{
    background: linear-gradient(rgb(8, 209, 209) , rgb(116, 1, 116) ) no-repeat;
    height: 100%;
}

.bar{
    background: transparent;
    border: 2px solid rgba(253, 2, 2, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    height: 70px;
    margin: 0;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    color: #fff;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar img{
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
}
.container{
    width: 100%;
    height: 90%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 50px 0 0 0 ;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.trans{
    width: 80%;
    background:linear-gradient(rgb(2, 241, 2) , rgba(0, 255, 255, 0.644)) ;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
table{
    width: 100%;
}
th{
    background-color: #fff;
    color: black;
    font-size: 32px;
}
td{
    font-size: 27px;
}
.trans table tr td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
th::selection{
    background: rgb(253, 2, 85);
}

td::selection{
    background: rgb(253, 2, 85);
}

h3::selection{
    background: rgb(253, 2, 85);
}
img::selection{
    background: rgb(253, 2, 85);
}

@media screen and (min-width : 600px ){
    body{
        height: 100vh;
    }
}